/* 
    Created on : Feb 5, 2016, 11:47:53 PM
    Author     : artur
*/
.background {
    -fx-background-color: #90A4AE;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica, Verdana, sans-serif";
    -fx-text-fill: #ECEFF1;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Helvetica, Verdana, sans-serif";
    -fx-text-fill: #ECEFF1;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 18pt;
    -fx-font-family: "Helvetica, Verdana, sans-serif";
    -fx-text-fill: #607D8B;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #90A4AE;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #ECEFF1;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font-family: "Helvetica, Verdana, sans-serif";
    -fx-text-fill: #607D8B;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-border-color: #607D8B;
    -fx-border-width: 0 0 2 0;
}
.table-row-cell{
     -fx-background-radius: 10px;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #607D8B;
    -fx-background-radius: 10px;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #ECEFF1;
    -fx-background-color: transparent, derive(#ECEFF1,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#ECEFF1,20%);
}

.context-menu {
    -fx-background-color: derive(#ECEFF1,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Helvetica, Verdana, sans-serif";
    -fx-text-fill: #ECEFF1;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Helvetica, Verdana, sans-serif";
}

.button {
    -fx-padding: 5 22 5 22;   
    -fx-border-color: #607D8B;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ECEFF1;
    -fx-font-family: "Helvetica, Verdana, sans-serif";
    -fx-font-size: 11pt;
    -fx-text-fill: #607D8B;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #ECEFF1;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #ECEFF1;
  -fx-text-fill: #ECEFF1;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #ECEFF1;
    -fx-text-fill: #ECEFF1;
}

.button:default {
    -fx-background-color: #607D8B;
    -fx-text-fill: #607D8B;
}

.button:default:hover {
    -fx-background-color: derive(#607D8B,30%);
}