/* 
    Created on : May 15, 2016, 8:49:36 PM
    Author     : artur
*/

.tree-view, .tree-cell
{
    -fx-background-color:  #ECEFF1;
    -fx-background-radius: 10px;
    -fx-text-fill: #607D8B;
    -fx-font-family: "Helvetica, Verdana, sans-serif";
    -fx-font-weight: bold;
    -fx-border-color: transparent;
}

.tree-view:focused
{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.tree-cell:selected 
{
     -fx-background-color: #607D8B;
     -fx-text-fill: #ECEFF1 ;
}

.tree-cell {
    -fx-padding: 0.4em 0em 0.4em 0em ;
}